:root {
  --def-background-color: #ffffff;
  --def-font-color: #677788;
  --link-color: #2476ff;
  --size-10: 0.625rem;
  --size-15: 0.9375rem;
  --size-20: 1.25rem;
  --size-25: 1.5625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-55: 3.4375rem;
  --size-60: 3.75rem;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  max-width: 64rem;
  background: var(--def-background-color);
  color: var(--def-font-color);
  isolation: isolate;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--def-font-color);
}

#topSection {
  max-width: 64rem;
}

.topSectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  position: absolute;
  width: 64rem;
  height: 33.25rem;
  left: 0rem;
  top: 0rem;
  z-index: 1000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.875rem;
  width: 64rem;
  height: 5.375rem;
}

.logo {
  padding: 0rem;
  width: 9.68125rem;
  height: 2.88125rem;
}

#frontLogo {
  width: 9.68125rem;
  height: 2.88125rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.875rem;
  gap: var(--size-30);
  width: 29.4375rem;
  height: 3.5625rem;
}

.navList {
  display: flex;
  align-items: flex-start;
  padding: 0rem;
  gap: var(--size-20);
  width: 19.4375rem;
  height: 1.0625rem;
  list-style: none;
}

.click-button {
  display: flex;
  align-items: flex-start;
  padding: var(--size-15) var(--size-25);
  gap: var(--size-20);
  width: var(--size-60);
  height: var(--size-15);
  background: var(--link-color);
  border-radius: var(--size-30);
}

.click-button span {
  width: var(--size-55);
  height: var(--size-15);
  font-weight: 700;
  font-size: 0.75rem;
  font-style: normal;
  line-height: var(--size-15);
  color: var(--def-background-color);
  text-align: center;
}

.click-button span a {
  color: var(--def-background-color);
}

.heroSection {
  display: flex;
  align-items: flex-start;
  padding: var(--size-40) var(--size-30) 0rem;
  gap: var(--size-10);
  width: 64rem;
  height: 27.875rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.leftPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 0rem var(--size-60);
  gap: var(--size-30);
  width: 29.8125rem;
  height: 25.375rem;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 0.6875rem;
  width: 20.875rem;
  height: 10.75rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: var(--size-30);
}

.title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--size-40);
  line-height: 3rem;
  color: #000000;
  width: 20.875rem;
  height: 9rem;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0rem;
}

.title p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  width: 20.875rem;
  height: 1.0625rem;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0rem;
}

.actions {
  display: flex;
  align-items: center;
  padding: 0rem;
  gap: 1.5rem;
  width: 29.8125rem;
  height: 3rem;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.vid-button {
  display: flex;
  align-items: center;
  padding: var(--size-15) var(--size-25);
  gap: 0.5rem;
  width: 5.625rem;
  height: 0.9375rem;
  background: var(--link-color);
  border-radius: var(--size-30);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vid-button i {
  font-style: normal;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: var(--def-background-color);
  width: 1.125rem;
  height: 1.125rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vid-button span {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--def-background-color);
  width: 3.8125rem;
  height: 0.9375rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.actions a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--link-color);
  width: 4.875rem;
  height: 1.0625rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#rightPart {
  width: 477px;
  height: 406px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.icon-def {
  display: flex;
  align-items: flex-start;
  padding: 16px;
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0;
  background: var(--def-background-color);
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.25);
  border-radius: 80px;
}

.gicon-def {
  width: 40px;
  height: 40px;
}

.asana {
  left: 380px;
  top: 57px;
}

.asana-img {
  background: url(logo_icons/asana.png);
}

.calendar {
  top: 310px;
  left: 364px;
}

.calendar-img {
  background: url(logo_icons/calendar.png);
}

.weave {
  left: 272px;
  top: 32px;
}

.weave-img {
  background: url(logo_icons/weave.png);
}

.paypal {
  left: 55px;
  top: -55px;
}

.paypal-img {
  background: url(logo_icons/paypal.jpg);
}

.attlasian {
  left: 180px;
  top: -310px;
}

.attlasian-img {
  background: url(logo_icons/atlassian.png);
}

.googleAds {
  left: 150px;
  top: -90px;
}

.googleAds-img {
  background: url(logo_icons/google-A.png);
}

.google {
  left: 58px;
  top: -473px;
}

.google-img {
  background: url(logo_icons/google.png);
}

.background-img {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

#topSectionBackground {
  position: absolute;
  width: 1023.5px;
  height: 517px;
  left: 0.5px;
  top: -1px;
}

.Vector2 {
  position: absolute;
  width: 316px;
  height: 443px;
  left: 711.5px;
  top: 0px;
  background-color: #e1e7ef;
}

.Vector1 {
  position: absolute;
  width: 884.5px;
  height: 517px;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    312.73deg,
    rgba(217, 217, 217, 0.44) 17.61%,
    rgba(217, 217, 217, 0) 55.85%
  );
}
