:root {
  --def-background-color: #ffffff;
  --def-font-color: #677788;
  --link-color: #2476ff;
  --text-section-color: #000000;
  --size-10: 0.625rem;
  --size-12: 0.75rem;
  --size-14: 0.857rem;
  --size-15: 0.9375rem;
  --size-16: 1rem;
  --size-17: 1.0625rem;
  --size-19: 1.1875rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-25: 1.5625rem;
  --size-26: 1.625rem;
  --size-30: 1.875rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-55: 3.4375rem;
  --size-60: 3.75rem;
  --size-80: 5rem;
  --size-93: 5.8125rem;
  --size-120: 7.5rem;
  --size-178: 11.15625rem;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  max-width: 64rem;
  /* margin: auto; */
  background: var(--def-background-color);
  color: var(--def-font-color);
  isolation: isolate;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: auto; */
  /* height: 100%; */
  max-width: 1024px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--def-font-color);
}

#topSection {
  max-width: 64rem;
  order: 0;
}

.topSectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  position: absolute;
  width: 64rem;
  /* height: 33.25rem; */
  height: 38.5625rem;
  left: 0rem;
  top: 0rem;
  z-index: 1000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.875rem;
  width: 64rem;
  height: 5.375rem;
}

.logo {
  padding: 0rem;
  width: 9.68125rem;
  height: 2.88125rem;
}

#frontLogo {
  width: 9.68125rem;
  height: 2.88125rem;
}

nav {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.875rem;
  gap: var(--size-30);
  width: 29.4375rem;
  height: 3.5625rem;
}

.navList {
  display: flex;
  align-items: flex-start;
  padding: 0rem;
  gap: var(--size-20);
  width: 19.4375rem;
  height: 1.0625rem;
  list-style: none;
}

.click-button {
  display: flex;
  align-items: flex-start;
  padding: var(--size-15) var(--size-25);
  gap: var(--size-20);
  width: var(--size-60);
  height: var(--size-15);
  background: var(--link-color);
  border-radius: var(--size-30);
}

.click-button span {
  width: var(--size-55);
  height: var(--size-15);
  font-weight: 700;
  font-size: 0.75rem;
  font-style: normal;
  line-height: var(--size-15);
  color: var(--def-background-color);
  text-align: center;
}

.click-button span a {
  color: var(--def-background-color);
}

.heroSection {
  display: flex;
  align-items: flex-start;
  padding: var(--size-40) var(--size-30) 0rem;
  gap: var(--size-10);
  width: 64rem;
  height: 27.875rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.heroSection .leftPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0rem 0rem var(--size-60);
  gap: var(--size-30);
  width: 29.8125rem;
  height: 25.375rem;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.heroSection .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: 0.6875rem;
  width: 20.875rem;
  height: 10.75rem;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: var(--size-30);
}

.heroSection .title h2 {
  font-style: normal;
  font-weight: 500;
  font-size: var(--size-40);
  line-height: 3rem;
  color: #000000;
  width: 20.875rem;
  height: 9rem;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 0rem;
}

.heroSection .title p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  width: 20.875rem;
  height: 1.0625rem;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 0rem;
}

.heroSection .leftPart .actions {
  display: flex;
  align-items: center;
  padding: 0rem;
  gap: 1.5rem;
  width: 29.8125rem;
  height: 3rem;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.vid-button {
  display: flex;
  align-items: center;
  padding: var(--size-15) var(--size-25);
  gap: 0.5rem;
  width: 5.625rem;
  height: 0.9375rem;
  background: var(--link-color);
  border-radius: var(--size-30);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vid-button-play {
  font-style: normal;
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: var(--def-background-color);
  width: 1.125rem;
  height: 1.125rem;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vid-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  color: var(--def-background-color);
  width: 3.8125rem;
  height: 0.9375rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.actions-link {
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--link-color);
  width: 4.875rem;
  height: 1.0625rem;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#rightPart {
  width: 29.8125rem;
  height: 25.375rem;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.icon-def {
  display: flex;
  align-items: flex-start;
  padding: var(--size-16);
  position: relative;
  width: var(--size-60);
  height: var(--size-60);
  margin: 0;
  background: var(--def-background-color);
  box-shadow: 0rem 0.1875rem 0.8125rem rgba(0, 0, 0, 0.25);
  border-radius: 5rem;
}

.gicon-def {
  width: var(--size-40);
  height: var(--size-40);
}

.asana {
  left: 23.75rem;
  top: 3.5625rem;
}

.asana-img {
  background: url(logo_icons/asana.png);
}

.calendar {
  top: 19.375rem;
  left: 22.75rem;
}

.calendar-img {
  background: url(logo_icons/calendar.png);
}

.weave {
  left: 17rem;
  top: 2rem;
}

.weave-img {
  background: url(logo_icons/weave.png);
}

.paypal {
  left: 3.4375rem;
  top: -3.4375rem;
}

.paypal-img {
  background: url(logo_icons/paypal.jpg);
}

.attlasian {
  left: 11.25rem;
  top: -19.375rem;
}

.attlasian-img {
  background: url(logo_icons/atlassian.png);
}

.googleAds {
  left: 9.375rem;
  top: -5.625rem;
}

.googleAds-img {
  background: url(logo_icons/google-A.png);
}

.google {
  left: 3.625rem;
  top: -29.5625rem;
}

.google-img {
  background: url(logo_icons/google.png);
}

.background-img {
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

#topSectionBackground {
  /* position: absolute; */
  width: 64rem;
  height: 38.5625rem;
  left: 0.03125rem;
  top: -0.0625rem;
  /* background: linear-gradient(
    312.73deg,
    rgba(217, 217, 217, 0.44) 17.61%,
    rgba(217, 217, 217, 0) 55.85%
  ); */
}

.keyBenefitsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 0rem 5rem;
  gap: var(--size-60);
  width: 64rem;
  height: 40.9375rem;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.benefitsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: var(--size-10);
  width: 27.125rem;
  height: 4.0625rem;
}

.kb-title {
  width: 10rem;
  height: 1.9375rem;
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.9357rem;
  text-align: center;
  color: #000000;
  margin: 0;
}

.kb-desc {
  width: 27.125rem;
  height: 1.5rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #677788;
  margin: 0;
}

.benefitList {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: var(--size-10) var(--size-30);
  gap: var(--size-30);
  width: 64rem;
  height: 20.625rem;
}

.benefitItem {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--size-20);
  gap: var(--size-20);
  width: 13.65625rem;
  height: 19.375rem;
  background: var(--def-background-color);
  border: 0.0625rem solid var(--def-background-color);
  box-shadow: 0rem var(--size-10) var(--size-20) rgba(0, 0, 0, 0.15);
}

.itemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: var(--size-20);
  width: 11.15625rem;
  height: 16.875rem;
}

.itemContent img {
  width: var(--size-50);
  height: var(--size-50);
}

.itemContent .title {
  display: flex;
  align-items: flex-start;
  padding: 0rem;
  gap: var(--size-10);
  width: 5.6875rem;
  height: 1.4375rem;
  margin-bottom: 0;
}

.itemContent .title p {
  font-weight: 700;
  font-size: var(--size-16);
  line-height: var(--size-19);
  color: var(--text-section-color);
  order: 0;
}

.itemContent p {
  width: 11.15625rem;
  height: 7.5rem;
  font-weight: 500;
  font-size: var(--size-14);
  line-height: 1.5rem;
  color: var(--def-font-color);
  order: 2;
  margin: 0;
}

.itemContent a {
  width: 4.875rem;
  height: 1.0625rem;
  font-weight: 700;
  font-size: var(--size-14);
  line-height: var(--size-17);
  color: var(--link-color);
  order: 3;
}

#topPart {
  width: var(--size-178);
  height: var(--size-93);
}

.titleWithIcon {
  display: flex;
  align-items: center;
  padding: 0rem;
  gap: var(--size-10);
  position: relative;
  width: 8.75rem;
  height: 1.4375rem;
  left: 0rem;
  top: 0rem;
}

.titleWithIcon p {
  width: 4.375rem;
  height: 1.1875rem;
  font-weight: 700;
  font-size: var(--size-16);
  line-height: var(--size-19);
  color: var(--text-section-color);
  order: 0;
}

.status {
  display: flex;
  align-items: center;
  padding: 0.25rem var(--size-10);
  gap: var(--size-10);
  width: var(--size-60);
  height: 1.4375rem;
  background: #01c9a7;
  border-radius: var(--size-15);
  order: 1;
}

.status p {
  width: var(--size-40);
  height: var(--size-15);
  font-weight: 700;
  font-size: var(--size-12);
  line-height: var(--size-15);
  color: var(--def-background-color);
}

.bottomPart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem;
  gap: var(--size-20);
  width: 11.125rem;
  height: 9.8125rem;
}

.bottomPart p {
  width: var(--size-178);
  height: 7.5rem;
  font-weight: 500;
  font-size: var(--size-14);
  line-height: var(--size-24);
  color: var(--def-font-color);
}

.bottomPart a {
  width: 4.875rem;
  height: 1.0625rem;
  font-weight: 700;
  font-size: var(--size-14);
  line-height: 1.0625rem;
  color: var(--link-color);
}

.bannerSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem var(--size-30) var(--size-80);
  gap: var(--size-10);
  width: 64rem;
  height: 34.375rem;
  flex: none;
  order: 3;
  z-index: 3;
}

.bannerSectionContent {
  display: flex;
  align-items: flex-start;
  padding: 0rem;
  gap: var(--size-10);
  width: 60.25rem;
  height: 29.375rem;
  background: #f8fafe;
  order: 0;
}

.bannerSectionContent .leftPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: var(--size-10) var(--size-30);
  gap: var(--size-26);
  width: 28.125rem;
  height: 29.375rem;
}

.bannerSectionContent .leftPart .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0rem;
  gap: 0.6875rem;
  width: 24.375rem;
  height: 3.875rem;
  order: 0;
}

.bannerSectionContent .leftPart .title p {
  width: 24.375rem;
  height: 3.875rem;
  font-weight: 500;
  font-size: var(--size-26);
  line-height: 1.9375rem;
  color: var(--text-section-color);
  order: 0;
}

.bannerSectionContent .leftPart .actions {
  display: flex;
  align-items: center;
  padding: 0rem;
  gap: var(--size-24);
  width: 24.375rem;
  height: 3rem;
  order: 1;
}

.rightPart {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0rem;
  gap: var(--size-10);
  width: 31.5rem;
  height: 29.375rem;
}

.banner_one {
  width: 31.5rem;
  height: 22.0625rem;
  background: url(banners/banner_one.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.whyFrontSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0rem var(--size-80);
  gap: var(--size-80);
  width: 64rem;
  height: 22.125rem;
  order: 4;
  z-index: 4;
}

.whyFrontTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  gap: var(--size-10);
  width: 37.5rem;
  height: 5.5625rem;
  order: 0;
}

.whyFrontTitle h2 {
  width: 8.8125rem;
  height: 1.9375rem;
  font-weight: 700;
  font-size: var(--size-26);
  line-height: 1.9375rem;
  text-align: center;
  color: var(--text-section-color);
  order: 0;
}

.whyFrontTitle p {
  width: 37.5rem;
  height: 3rem;
  font-weight: 500;
  font-size: var(--size-16);
  line-height: var(--size-24);
  text-align: center;
  order: 1;
}

.bulletsList {
  display: flex;
  align-items: flex-start;
  padding: 0rem 2.125rem;
  width: 64rem;
  height: 9.0625rem;
  order: 1;
}

.bullet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-26) 0rem;
  gap: var(--size-24);
  width: 14.9375rem;
  height: 9.0625rem;
  order: 0;
  flex-grow: 1;
}

.top {
  display: flex;
  align-items: center;
  padding: 0rem;
  gap: 0.25rem;
  width: 14.9375rem;
  height: var(--size-50);
  order: 0;
}

#leftWing {
  width: 5.6563rem;
  height: 0.0625rem;
  order: 0;
  background: #e6e9f2;
}

.bullet:nth-child(1) .top {
  margin-left: 9.8438rem;
}

.bulletCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--size-10);
  gap: var(--size-10);
  width: var(--size-50);
  height: var(--size-50);
  background: #ecf2ff;
  border-radius: 2.5rem;
  order: 1;
}

#bulletCircleInner {
  width: 0.375rem;
  height: 0.375rem;
  background: #0066ff;
  border-radius: 0.1875rem;
}

#rightWing {
  width: 5.6563rem;
  height: 0.0625rem;
  background: #e6e9f2;
  order: 2;
  /* flex-grow: 1; */
}

/* .bullet:nth-child(4) #rightWing {
  display: none;
} */

*/ .bulletTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem var(--size-10);
  gap: 0.25rem;
  width: 14.9375rem;
  height: 1.1875rem;
  order: 1;
}

.bulletTitle p {
  width: 11.25rem;
  height: 1.1875rem;
  font-weight: 500;
  font-size: var(--size-16);
  line-height: 1.1875rem;
  text-align: center;
  color: var(--text-section-color);
}

.bannerPlaySection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0rem 1.875rem 5rem;
  gap: 0.625rem;
  width: 64rem;
  height: 31.0625rem;
  z-index: 5;
  order: 5;
}

#bannerFrame {
  width: 60.25rem;
  height: 31.0625rem;
}

.playButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem 0rem 0.625rem 0.25rem;
  gap: 0.625rem;
  position: relative;
  width: 5.375rem;
  height: 4.375rem;
  left: 27.9375rem;
  top: 15.75rem;
  background: var(--def-background-color);
  box-shadow: 0rem 0rem 0.625rem rgba(0, 0, 0, 0.25);
  border-radius: 3.125rem;
  z-index: 10;
}

.playButton i {
  width: 0.9375rem;
  height: 1.25rem;
  font-weight: 900;
  font-size: 1.25rem;
  line-height: 1.25rem;
  text-align: center;
  color: var(--text-section-color);
  z-index: 10;
}

.banner_two {
  position: relative;
  width: 60.25rem;
  height: 25.875rem;
  left: 0rem;
  top: 0rem;
  background: url(banners/banner_two.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hubspotSection {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
  width: 1024px;
  height: 560px;
  z-index: 6;
  order: 6;
}

.hubspotSection #leftPart {
  width: 452px;
  height: 560px;
  order: 0;
}

.download2 {
  position: relative;
  width: 371px;
  height: 425px;
  left: 81px;
  top: 0px;
  background: url(people/woman_three.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
}

.download1 {
  position: relative;
  width: 200px;
  height: 369.28px;
  left: 28px;
  bottom: 320px;
  background: url(abstract/dots.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hubspotSection .rightPart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 30px 0px 0px;
  gap: 5px;
  width: 512px;
  height: 560px;
  order: 1;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 482px;
  /* height: 191.18px; */
  order: 0;
}

#hubSpot1 {
  background: url(company_logos/hubspot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 50px;
  order: 0;
  position: relative;
  top: 70px;
  left: 0px;
}

.description p {
  width: 482px;
  height: 128px;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  color: var(--text-section-color);
  order: 1;
  margin: 50px 0px 0px;
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px 100px 0px;
  gap: 4px;
  width: 147px;
  height: 143px;
  order: 1;
}

.person-name {
  width: 125px;
  height: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-section-color);
  order: 0;
  margin: 0px;
}

.person-title {
  width: 127px;
  height: 17px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  order: 1;
  margin: 0px;
}

.brandsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px var(--size-80);
  gap: 45px;
  width: 1024px;
  height: 208px;
  order: 7;
  z-index: 7;
}

.brandsSection .whyFrontTitle {
  width: 1024px;
  height: 24px;
  order: 0;
}

.brandsList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 30px;
  width: 1024px;
  height: 59px;
  order: 1;
}

#weebly {
  background: url(/company_logos/weebly.svg);
  width: 112.8px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  order: 0;
}

#uber {
  background: url(/company_logos/uber.svg);
  width: 112.8px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  order: 1;
}

#slack1 {
  background: url(/company_logos/slack.svg);
  width: 112.8px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  order: 2;
}

#airbnb {
  background: url(company_logos/airbnb.svg);
  width: 112.8px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  order: 3;
}

#slack2 {
  background: url(company_logos/slack.svg);
  width: 112.8px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  order: 4;
}

.pricingSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 120px;
  gap: 60px;
  width: 1024px;
  height: 692px;
  order: 8;
  z-index: 8;
}

.pricingTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 1024px;
  height: 60px;
  order: 0;
}

.pricingTitle h2 {
  width: 90px;
  height: 31px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: var(--text-section-color);
  order: 0;
}

.pricingTitle p {
  width: 600px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  order: 1;
}

.planFeaturesList {
  display: flex;
  align-items: flex-start;
  padding: 0px 44px;
  gap: 30px;
  width: 1024px;
  height: 452px;
}

.plan {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
  gap: 50px;
  width: 370px;
  height: 452px;
  background: var(--def-background-color);
  border: 1px solid var(--def-background-color);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.planHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 290px;
  height: 194px;
  order: 0;
}

.planPrice {
  display: flex;
  align-items: flex-end;
  padding: 0px;
  gap: 7px;
  width: 114px;
  height: 62px;
  order: 0;
}

.planPrice p {
  width: 63px;
  height: 61px;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  color: var(--text-section-color);
  order: 0;
}

.planPeriod {
  display: flex;
  align-items: flex-start;
  padding: 0px 0px 9px;
  gap: 7px;
  width: 44px;
  height: 33px;
  order: 1;
}

.planPeriod p {
  font-weight: 510;
  font-size: 20px;
  line-height: 24px;
}

.planPeriod:nth-child(1) p {
  width: 7px;
  height: 24px;
  order: 0;
}

.planPeriod:nth-child(2) p {
  width: 30px;
  height: 24px;
  order: 1;
}

.planDivider {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 290px;
  height: 1px;
  background: #8d8d8d;
  order: 1;
}

.planHeader p {
  width: 290px;
  height: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  order: 2;
}

.planFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 137px;
  height: 73px;
  order: 1;
}

.planFooter .actions {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 137px;
  height: 48px;
  order: 0;
}

.planFooter p {
  width: 136px;
  height: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  order: 1;
}

.planFeatures {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 536px;
  height: 452px;
  order: 1;
}

.rowOne {
  display: flex;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 536px;
  height: 241px;
  order: 0;
}

.planFeatureItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 20px;
  width: 263px;
  height: 241px;
  background: var(--def-background-color);
  border: 1px solid var(--def-background-color);
  order: 0;
}

.itemContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 223px;
  height: 201px;
  order: 0;
}

#components {
  width: 50px;
  height: 50px;
  background: url(/icons/components.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  order: 0;
}

.itemContent .title {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 224px;
  height: 23px;
  order: 1;
}

.itemContent .title p {
  width: 224px;
  height: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-section-color);
  order: 0;
}

.itemContent p {
  width: 223px;
  height: 88px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  order: 2;
}

#images {
  width: 50px;
  height: 50px;
  background: url(/icons/images.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  order: 0;
}
